<div class="container">

<h1>Stupid Coaching</h1>

<div class="user">
<%= @question %>
<p>- You</p>

</div>

<div class="coach">
<%= @answer %>
<p>- Your Coach</p>
</div>


<%= link_to "Ask a new question", ask_path %>

</div>
