<div class="container">

<h1>Stupid Coach</h1>
<h3>Ask me anything</h3>

<form action="/answer">
   <div class="form-group d-flex justify-content-between">
      <input type="text" name="question" class="form-control" placeholder="Ask me a question ...">
      <button button type="submit" class="btn btn-primary"> Ask </button>
   </div>
</form>
</div>
